<header>
    {{!-- <h1>{{mainTitle}}</h1> --}}
   
                   
  
  
</header>

 <nav>
        <ul>
            <li><a href="/">Brief</a></li>
            <li><a href="/bio">Bio</a></li>
            <li><a href="/activity">Activity</a></li>
            <li><a href="/links">Links</a></li>
        </ul>
    </nav>