<h2 class="sectionText" id="bio">Bio</h2>
<p>
    He attended California State University San Marcos and graduated with a bachelor's degree in Business Management. Although his parents encouraged him to get a job, by the time he had graduated his YouTube channel had grown to the point where it became economically viable to pursue it as a full-time career.
    In April 2021, iDubbbz and his girlfriend Anisa Jomha announced their engagement. They married in June 2021, with iDubbbz's last name changed from Washburn to Jomha.
</p>