 <h2 class="sectionText" id="brief">Brief</h2>
<p>
Ian Kane Jomha (né Washburn; born October 1, 1990), known online as iDubbbz, is an American YouTube personality. Creator of YouTube channels iDubbbzTV, iDubbbzTV2, and iDubbbzgames, he is best known for his comedy video series, including Content Cop, Bad Unboxing and Kickstarter Crap. His 2017 diss track "Asian Jake Paul" charted and peaked at number 24 on Billboard's US RB/HH Digital Song Sales chart.
                
</p>