<body>
    <link rel="stylesheet" href="css/style.css"></link>
    <title>{{mainTitle}}</title>
      <h1 id="title2">Ian Kane Jomha</h1>
     <div class="image">
                       <img class="logo" src="http://localhost:3000/images/idubbz.jpg" alt="My_Logo">
                    </div>
    {{> header}}

    
    {{{body}}}
</body>