  <h2 class="sectionText" id="links">Links</h2>
                    <ul>
                        <li> <a href="https://www.youtube.com/c/idubbbztv" target="_blank">Youtube</a></li>
                        <li> <a href="https://www.twitch.tv/idubbbz" target="_blank">Twitch</a></li>
                        <li> <a href="https://en.wikipedia.org/wiki/IDubbbz" target="_blank">Wikipedia</a></li>
                    </ul>   